<style>
.thetxtarea, .thetxtarea textarea {
  height:100px;
}
.numbering {
  font-size: 2em;
}
</style>

<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'order.title' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form *ngIf="formReady" [formGroup]="orderForm" (ngSubmit)="placeOrder(orderForm.value)" novalidate>
    <ion-item>
      <ion-label fixed>{{ 'order.name' | translate }}</ion-label>
      <ion-input placeholder="{{ 'order.click_to_write' | translate }}" type="text" style="color:gray"
                 [formControl]="orderForm.controls.name" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>{{ 'order.phone' | translate }}</ion-label>
      <ion-input placeholder="{{ 'order.click_to_write' | translate }}" type="text" style="color:gray"
                 [formControl]="orderForm.controls.phone" readonly></ion-input>
    </ion-item>
    <button type="button" ion-item detail-none (click)="showAddressWindow()">
      <ion-label fixed>{{ 'order.address' | translate }}</ion-label>
      <ion-textarea class="thetxtarea" disabled placeholder="{{ 'order.click_to_write' | translate }}" type="text"
                 [formControl]="orderForm.controls.address"></ion-textarea>
    </button>
    <ion-item>
      <ion-label fixed>{{ 'order.promo_code' | translate }}</ion-label>
      <ion-input placeholder="{{ 'order.optional' | translate }}" type="text"
                 [formControl]="orderForm.controls.promo_code"></ion-input>
      <button ion-button item-right type="button" (click)="validatePromo()">{{ 'order.check_promo' | translate }}
      </button>
    </ion-item>
    <ion-item>
      <ion-label fixed>{{ 'order.comment' | translate }}</ion-label>
      <ion-textarea [formControl]="orderForm.controls.comment"
                    placeholder="{{ 'order.optional' | translate }}"></ion-textarea>
    </ion-item>
    <ion-list radio-group [formControl]="orderForm.controls.payment_method">
      <ion-item>
        <ion-label>{{ 'order.cash_on_delivery' | translate }}</ion-label>
        <ion-radio name="payment_method" value="cash"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'order.stripe' | translate }}</ion-label>
        <ion-radio name="payment_method" value="stripe"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'order.paypal' | translate }}</ion-label>
        <ion-radio name="payment_method" value="paypal"></ion-radio>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="userData.loyalty_reward > 0">
      <ion-item>
        <ion-label stacked>{{ 'order.use_reward' | translate:{amount: userData.loyalty_reward | ecurrency} }}</ion-label>
        <ion-input [formControl]="orderForm.controls.loyalty" type="number" max="userData.loyalty_reward"></ion-input>
        <button ion-button item-right type="button" (click)="useReward()">{{ 'order.use' | translate }}</button>
      </ion-item>
    </ion-list>
    <div class="cart-total -nob">
      <ion-row>
        <ion-col col-6>
          <span>{{ 'order.price' | translate }}</span><br /><span class="numbering"> {{ cTotalPrice | ecurrency }}</span>
        </ion-col>
        <ion-col col-6>
          <span>{{ 'order.delivery_price' | translate }}</span><br /><span class="numbering"> {{ deliveryPrice | ecurrency }}</span>
        </ion-col>
        <!-- <ion-col col-6>
            <span>{{ 'order.total' | translate }}</span><br /><span class="numbering"> {{ +cTotalPrice + +deliveryPrice | ecurrency }}</span>
        </ion-col> -->
        <ion-col col-6>
            <div *ngIf="cLoyaltyUsed > 0">{{ 'order.loyalty_used' | translate:{amount: cLoyaltyUsed | ecurrency} }}</div>
            <div *ngIf="discountPrice">{{ 'order.coupon_discount' | translate }}<br /><span class="numbering"> {{ +cFullPrice - +discountPrice | ecurrency}}</span></div>
        </ion-col>
        <!-- <ion-col col-6>
            <div *ngIf="discountPrice > 0 || cLoyaltyUsed > 0">Gross Total<br /><span class="numbering"> {{ +discountPrice - +cLoyaltyUsed + +deliveryPrice | ecurrency }}</span></div>
        </ion-col> -->
        <ion-col col-6>
          <div *ngIf="cTaxPrice > 0">
            <span>{{ 'order.tax' | translate }}</span><br /><span class="numbering"> {{ cTaxPrice | ecurrency }}</span>
          </div>
        </ion-col>
        <div style="width: 100%; border-top: 1px solid #555; margin: 20px auto;"></div>
        <ion-col col-12>
          <div *ngIf="cTaxPrice > 0">
            <span>{{ 'order.total_with_tax' | translate }}</span><br /><span class="numbering"> {{ +cTaxPrice + +discountPrice - +cLoyaltyUsed + +deliveryPrice | ecurrency }}</span>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <button type="submit" [disabled]="!orderForm.valid" ion-button block class="place-order-button">{{
      'order.place_order' | translate }}
    </button>
  </form>
</ion-content>
