.input-error::after{
  color: rgba(222, 55, 52, 0.91);
  content: "*";
}

.input-error-regular::after{
  color: rgba(222, 55, 52, 0.91);
  content: "*";
}

.input-error-regular {
  color: red;
  position: center;
}

.thetxtarea, .thetxtarea textarea {
  height:100px;
}

.numbering {
  font-size: 1.0em;
}
