.category-item {
  padding-top: 120px;
  background-size: cover !important;
  background-position: center center;
  margin-bottom: 10px;
  .title {
    text-align: center;
    color: #999;
    background: rgba(240, 240, 240, 0.85);
    font-size: 24px;
    padding: 10px 15px;
    font-weight: normal;
  }
}

.homeimage {
  margin: -25% 0 0 0;
  width:100%;
}

.restaurant-title {
  text-align: center;
  font-weight: 600;
  height: 120%
}

.news-button {
  color: red;
  margin: 5px 0 5px;
  height: 25px;
  font-size: 10px;
}

.mainFeatImg {
  height:400px;
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: transparent;
}



  shrinking-segment-header {

    background-color: #363636;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      //background-size: cover;
    }
  }
